# Lab: Titanic Survival Exploration with Decision Trees

## Getting Started
In this lab, you will see how decision trees work by implementing a decision tree in sklearn.

We'll start by loading the dataset and displaying some of its rows.

In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

# Pretty display for notebooks
%matplotlib inline

# Set a random seed
import random
random.seed(42)

# Load the dataset
in_file = 'titanic_data.csv'
full_data = pd.read_csv(in_file)

# Print the first few entries of the RMS Titanic data
display(full_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Recall that these are the various features present for each passenger on the ship:
- **Survived**: Outcome of survival (0 = No; 1 = Yes)
- **Pclass**: Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)
- **Name**: Name of passenger
- **Sex**: Sex of the passenger
- **Age**: Age of the passenger (Some entries contain `NaN`)
- **SibSp**: Number of siblings and spouses of the passenger aboard
- **Parch**: Number of parents and children of the passenger aboard
- **Ticket**: Ticket number of the passenger
- **Fare**: Fare paid by the passenger
- **Cabin** Cabin number of the passenger (Some entries contain `NaN`)
- **Embarked**: Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

Since we're interested in the outcome of survival for each passenger or crew member, we can remove the **Survived** feature from this dataset and store it as its own separate variable `outcomes`. We will use these outcomes as our prediction targets.  
Run the code cell below to remove **Survived** as a feature of the dataset and store it in `outcomes`.

In [2]:
# Store the 'Survived' feature in a new variable and remove it from the dataset
outcomes = full_data['Survived']
features_raw = full_data.drop('Survived', axis = 1)

# Show the new dataset with 'Survived' removed
display(features_raw.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

The very same sample of the RMS Titanic data now shows the **Survived** feature removed from the DataFrame. Note that `data` (the passenger data) and `outcomes` (the outcomes of survival) are now *paired*. That means for any passenger `data.loc[i]`, they have the survival outcome `outcomes[i]`.

## Preprocessing the data

Now, let's do some data preprocessing. First, we'll remove the names of the passengers, and then one-hot encode the features.

**Question:** Why would it be a terrible idea to one-hot encode the data without removing the names?
(Andw

In [7]:
# Removing the names
features_no_names = features_raw.drop(['Name'], axis=1)

# One-hot encoding
features = pd.get_dummies(features_no_names)
print(features)

     PassengerId  Pclass   Age  SibSp  Parch      Fare  Sex_female  Sex_male  \
0              1       3  22.0      1      0    7.2500           0         1
1              2       1  38.0      1      0   71.2833           1         0
2              3       3  26.0      0      0    7.9250           1         0
3              4       1  35.0      1      0   53.1000           1         0
4              5       3  35.0      0      0    8.0500           0         1
5              6       3   NaN      0      0    8.4583           0         1
6              7       1  54.0      0      0   51.8625           0         1
7              8       3   2.0      3      1   21.0750           0         1
8              9       3  27.0      0      2   11.1333           1         0
9             10       2  14.0      1      0   30.0708           1         0
10            11       3   4.0      1      1   16.7000           1         0
11            12       1  58.0      0      0   26.5500           1         0
12            13       3  20.0      0      0    8.0500           0         1
13            14       3  39.0      1      5   31.2750           0         1
14            15       3  14.0      0      0    7.8542           1         0
15            16       2  55.0      0      0   16.0000           1         0
16            17       3   2.0      4      1   29.1250           0         1
17            18       2   NaN      0      0   13.0000           0         1
18            19       3  31.0      1      0   18.0000           1         0
19            20       3   NaN      0      0    7.2250           1         0
20            21       2  35.0      0      0   26.0000           0         1
21            22       2  34.0      0      0   13.0000           0         1
22            23       3  15.0      0      0    8.0292           1         0
23            24       1  28.0      0      0   35.5000           0         1
24            25       3   8.0      3      1   21.0750           1         0
25            26       3  38.0      1      5   31.3875           1         0
26            27       3   NaN      0      0    7.2250           0         1
27            28       1  19.0      3      2  263.0000           0         1
28            29       3   NaN      0      0    7.8792           1         0
29            30       3   NaN      0      0    7.8958           0         1
..           ...     ...   ...    ...    ...       ...         ...       ...
861          862       2  21.0      1      0   11.5000           0         1
862          863       1  48.0      0      0   25.9292           1         0
863          864       3   NaN      8      2   69.5500           1         0
864          865       2  24.0      0      0   13.0000           0         1
865          866       2  42.0      0      0   13.0000           1         0
866          867       2  27.0      1      0   13.8583           1         0
867          868       1  31.0      0      0   50.4958           0         1
868          869       3   NaN      0      0    9.5000           0         1
869          870       3   4.0      1      1   11.1333           0         1
870          871       3  26.0      0      0    7.8958           0         1
871          872       1  47.0      1      1   52.5542           1         0
872          873       1  33.0      0      0    5.0000           0         1
873          874       3  47.0      0      0    9.0000           0         1
874          875       2  28.0      1      0   24.0000           1         0
875          876       3  15.0      0      0    7.2250           1         0
876          877       3  20.0      0      0    9.8458           0         1
877          878       3  19.0      0      0    7.8958           0         1
878          879       3   NaN      0      0    7.8958           0         1
879          880       1  56.0      0      1   83.1583           1         0
880          881       2  25.0      0      1   26.0000           1         0
881          882       3  33.0      0      0    7.8958           0         1
882          883       3  22.0      0      0   10.5167           1         0
883          884       2  28.0      0      0   10.5000           0         1
884          885       3  25.0      0      0    7.0500           0         1
885          886       3  39.0      0      5   29.1250           1         0
886          887       2  27.0      0      0   13.0000           0         1
887          888       1  19.0      0      0   30.0000           1         0
888          889       3   NaN      1      2   23.4500           1         0
889          890       1  26.0      0      0   30.0000           0         1
890          891       3  32.0      0      0    7.7500           0         1

     Ticket_110152  Ticket_110413     ...      Cabin_F G73  Cabin_F2  \
0                0              0     ...                0         0
1                0              0     ...                0         0
2                0              0     ...                0         0
3                0              0     ...                0         0
4                0              0     ...                0         0
5                0              0     ...                0         0
6                0              0     ...                0         0
7                0              0     ...                0         0
8                0              0     ...                0         0
9                0              0     ...                0         0
10               0              0     ...                0         0
11               0              0     ...                0         0
12               0              0     ...                0         0
13               0              0     ...                0         0
14               0              0     ...                0         0
15               0              0     ...                0         0
16               0              0     ...                0         0
17               0              0     ...                0         0
18               0              0     ...                0         0
19               0              0     ...                0         0
20               0              0     ...                0         0
21               0              0     ...                0         0
22               0              0     ...                0         0
23               0              0     ...                0         0
24               0              0     ...                0         0
25               0              0     ...                0         0
26               0              0     ...                0         0
27               0              0     ...                0         0
28               0              0     ...                0         0
29               0              0     ...                0         0
..             ...            ...     ...              ...       ...
861              0              0     ...                0         0
862              0              0     ...                0         0
863              0              0     ...                0         0
864              0              0     ...                0         0
865              0              0     ...                0         0
866              0              0     ...                0         0
867              0              0     ...                0         0
868              0              0     ...                0         0
869              0              0     ...                0         0
870              0              0     ...                0         0
871              0              0     ...                0         0
872              0              0     ...                0         0
873              0              0     ...                0         0
874              0              0     ...                0         0
875              0              0     ...                0         0
876              0              0     ...                0         0
877              0              0     ...                0         0
878              0              0     ...                0         0
879              0              0     ...                0         0
880              0              0     ...                0         0
881              0              0     ...                0         0
882              0              0     ...                0         0
883              0              0     ...                0         0
884              0              0     ...                0         0
885              0              0     ...                0         0
886              0              0     ...                0         0
887              0              0     ...                0         0
888              0              0     ...                0         0
889              0              0     ...                0         0
890              0              0     ...                0         0

     Cabin_F33  Cabin_F38  Cabin_F4  Cabin_G6  Cabin_T  Embarked_C  \
0            0          0         0         0        0           0
1            0          0         0         0        0           1
2            0          0         0         0        0           0
3            0          0         0         0        0           0
4            0          0         0         0        0           0
5            0          0         0         0        0           0
6            0          0         0         0        0           0
7            0          0         0         0        0           0
8            0          0         0         0        0           0
9            0          0         0         0        0           1
10           0          0         0         1        0           0
11           0          0         0         0        0           0
12           0          0         0         0        0           0
13           0          0         0         0        0           0
14           0          0         0         0        0           0
15           0          0         0         0        0           0
16           0          0         0         0        0           0
17           0          0         0         0        0           0
18           0          0         0         0        0           0
19           0          0         0         0        0           1
20           0          0         0         0        0           0
21           0          0         0         0        0           0
22           0          0         0         0        0           0
23           0          0         0         0        0           0
24           0          0         0         0        0           0
25           0          0         0         0        0           0
26           0          0         0         0        0           1
27           0          0         0         0        0           0
28           0          0         0         0        0           0
29           0          0         0         0        0           0
..         ...        ...       ...       ...      ...         ...
861          0          0         0         0        0           0
862          0          0         0         0        0           0
863          0          0         0         0        0           0
864          0          0         0         0        0           0
865          0          0         0         0        0           0
866          0          0         0         0        0           1
867          0          0         0         0        0           0
868          0          0         0         0        0           0
869          0          0         0         0        0           0
870          0          0         0         0        0           0
871          0          0         0         0        0           0
872          0          0         0         0        0           0
873          0          0         0         0        0           0
874          0          0         0         0        0           1
875          0          0         0         0        0           1
876          0          0         0         0        0           0
877          0          0         0         0        0           0
878          0          0         0         0        0           0
879          0          0         0         0        0           1
880          0          0         0         0        0           0
881          0          0         0         0        0           0
882          0          0         0         0        0           0
883          0          0         0         0        0           0
884          0          0         0         0        0           0
885          0          0         0         0        0           0
886          0          0         0         0        0           0
887          0          0         0         0        0           0
888          0          0         0         0        0           0
889          0          0         0         0        0           1
890          0          0         0         0        0           0

     Embarked_Q  Embarked_S
0             0           1
1             0           0
2             0           1
3             0           1
4             0           1
5             1           0
6             0           1
7             0           1
8             0           1
9             0           0
10            0           1
11            0           1
12            0           1
13            0           1
14            0           1
15            0           1
16            1           0
17            0           1
18            0           1
19            0           0
20            0           1
21            0           1
22            1           0
23            0           1
24            0           1
25            0           1
26            0           0
27            0           1
28            1           0
29            0           1
..          ...         ...
861           0           1
862           0           1
863           0           1
864           0           1
865           0           1
866           0           0
867           0           1
868           0           1
869           0           1
870           0           1
871           0           1
872           0           1
873           0           1
874           0           0
875           0           0
876           0           1
877           0           1
878           0           1
879           0           0
880           0           1
881           0           1
882           0           1
883           0           1
884           0           1
885           1           0
886           0           1
887           0           1
888           0           1
889           0           0
890           1           0

[891 rows x 839 columns]

And now we'll fill in any blanks with zeroes.

In [8]:
features = features.fillna(0.0)
display(features.head())

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Ticket_110152,Ticket_110413,...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,38.0,1,0,71.2833,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,35.0,1,0,53.1000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,3,35.0,0,0,8.0500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

## (TODO) Training the model

Now we're ready to train a model in sklearn. First, let's split the data into training and testing sets. Then we'll train the model on the training set.

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, outcomes, test_size=0.2, random_state=42)

In [11]:
# Import the classifier from sklearn
from sklearn.tree import DecisionTreeClassifier

# TODO: Define the classifier, and fit it to the data
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

## Testing the model
Now, let's see how our model does, let's calculate the accuracy over both the training and the testing set.

In [12]:
# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

The training accuracy is 1.0
The test accuracy is 0.815642458101

# Exercise: Improving the model

Ok, high training accuracy and a lower testing accuracy. We may be overfitting a bit.

So now it's your turn to shine! Train a new model, and try to specify some parameters in order to improve the testing accuracy, such as:
- `max_depth`
- `min_samples_leaf`
- `min_samples_split`

You can use your intuition, trial and error, or even better, feel free to use Grid Search!

**Challenge:** Try to get to 85% accuracy on the testing set. If you'd like a hint, take a look at the solutions notebook next.

In [33]:
max_depth = 11
min_samples_leaf = 4
min_samples_split = 22

# TODO: Train the model
model = DecisionTreeClassifier(max_depth = max_depth, min_samples_leaf = min_samples_leaf, min_samples_split=min_samples_split)
model.fit(X_train, y_train)
# TODO: Make predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# TODO: Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

The training accuracy is 0.884831460674
The test accuracy is 0.854748603352